<a href="https://colab.research.google.com/github/danielcondecion/DSA-58010/blob/main/Array_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Create an array of number elements

num = [1,2,3] #3x3 matrix
print (num)

[1, 2, 3]

In [5]:
#Create an array of animals

animals = ["dog", "cat", "fish"]
for x in animals:
      print(x)

dog
cat
fish

In [15]:
#looping breaking
animals = ["dog", "cat", "fish"]
for x in animals:
      print(x)
      if x=="cat":
        break

dog
cat

In [16]:
animals = ["dog", "cat", "fish"]
d = animals[0]
j = animals[1]
print(d)
print(j)

dog
cat

In [ ]:
#Looping Array Elements
animals = ["dog", "cat", "fish"]
for x in animals:
  if x=='cat':

print(x)

In [17]:
#modifying
animals = ["dog", "cat", "fish"]
animals[0]= "bird"
print (animals)

['bird', 'cat', 'fish']

In [22]:
#inserting array elements 
animals = ["dog","cat","fish"]
animals.append("monkey")
print (animals)

['dog', 'cat', 'fish', 'monkey']

In [21]:
#removing
animals = ["dog","cat","fish"]
animals.pop(2)
animals.pop(1)
print(animals)

['dog']

In [20]:
#lenght of the array
animals = ["dog","cat","fish"]
x=len(animals)
print(animals)

['dog', 'cat', 'fish']

In [19]:
import numpy as np
num = np.array([[1,2],[3,4]])   
print (num)

[[1 2]
 [3 4]]